  <footer class="bg-black w-full py-12 flex flex-col items-center gap-6 w-full text-center">
    <div class="text-[#adc6ff] font-bold text-xs uppercase tracking-widest">
      Parcial-MISW4104
    </div>
    <div class="flex gap-8 text-white/40 text-xs uppercase tracking-widest">
      <a class="hover:text-[#adc6ff] transition-colors" href="#">Privacy Policy</a>
      <a class="hover:text-[#adc6ff] transition-colors" href="#">Terms of Service</a>
      <a class="hover:text-[#adc6ff] transition-colors" href="#">Contact</a>
    </div>
    <p class="text-white/40 text-xs uppercase tracking-widest">
      © 2026 Parcial-MISW4104. All Rights Reserved.
    </p>
  </footer>